* {
    margin: 0;
    padding: 0;
}
.lines {
    z-index: 100;
    background: #B83F3D;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 50px;
    position: relative;
}

.lines:hover {
    cursor: pointer;
}
.wrapper {
    transition: all .5s ease-in-out;
}
.wrapper.flyIn {
    transform: translateX(300px);
}
.line1  {
    background: #000;
    width: 50px;
    height: 5px;
    border-radius: 3px;
    position: absolute;
    top: 35px;
    left: 25px;
}
.line1.clicked {
    animation: x 0.2s ease-in forwards;
}
@keyframes x {
    to {
        transform: rotate(45deg) translate(7px, 10px);
    }
}
.line2{
    background: #000;
    width: 50px;
    height: 5px;
    margin-top: 10px;
    border-radius: 3px;
    position: absolute;
    bottom: 35px;
    left: 25px;
}

.line2.clicked {
    animation: y 0.2s ease-in forwards;

}

@keyframes y {
    to {
        transform: rotate(-45deg) translate(7px ,-10px);
    }
}










div.wrapper {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0px;
    left: 0px;
}
div.quaterPie {
    display: none;
    width: 100px;
    height: 100px;
    position: absolute;
    overflow: hidden;
    transform-style: preserve-3D;
}
div.quaterPie1 {
    left: 100px;
    top: 0;
    transition: all 2s linear;
}
div.quaterPie2 {
    left: 0;
    top: 100px;
}
div.quaterPie4 {
    left: 100px;
    top: 0px;
}
div.quaterPie3 {
    left: 0;
    top: 0;
}
div.wholePie {
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
}
div.wholePie1 {
    top: 0;
    left: -100px;
}
div.wholePie2 {
    background-color: orange;
    top: -100px;
    left: 0;
}
div.wholePie4 {
    background-color: green;
    top: -0;
    left: -100px;
}
div.wholePie3 {
    background-color: yellow;
    top: 0;
    left: 0;
}
div.quaterPie1.turn1 {
    transform: rotate(270deg);
    transform-origin: bottom left;
}

div.quaterPie2.turn2 {
    transform: rotate(270deg);
    transform-origin: top right;
}
div.quaterPie3.turn3 {
    transform: rotate(270deg);
    transform-origin: bottom right;
}
div.quaterPie4.turn4 {
    transform: rotate(270deg);
    transform-origin: bottom left;
}
